<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en"
>
<head th:replace="/fragments/head :: head"></head>

<body>
    
    <header th:replace="/fragments/header :: header"></header>

    <main class="content">

        <section sec:authorize="hasRole('ADMIN')">
            
            <h1 class="fw-bold text-center my-4 text-capitalize">list news</h1>
    
            <table class="table container mb-5 overflow-y-auto">
                <thead class="table-info text-capitalize">
                    <tr>
                        <th scope="col">title</th>
                        <th scope="col">body</th>
                        <th scope="col">journalist</th>                        
                    </tr>
                </thead>
                <tbody th:each="news : ${news}">
                    <tr>                        
                        <th scope="row" th:text="${news.title}"></th>
                        <td th:text="${news.body}"></td>
                        <td th:text="${news.Journalist.name}"></td>
                    </tr>
                </tbody>
            </table>

        </section>

        <section sec:authorize="hasRole('ADMIN')">

            <h1 class="fw-bold text-center my-4 text-capitalize">list journalists</h1>

            <table class="table container mb-5 overflow-y-auto text-center">
                <thead class="table-info text-capitalize">
                    <tr>
                        <th scope="col">name</th>
                        <th scope="col">lastname</th>
                        <th scope="col">high date</th>
                        <th scope="col">state</th>                                               
                    </tr>
                </thead>
                <tbody th:each="journalist : ${journalists}">
                    <tr>                        
                        <th scope="row" th:text="${journalist.name}"></th>
                        <td th:text="${journalist.lastname}"></td>
                        <td th:text="${journalist.highDate}"></td>
                        <td th:text="${journalist.isActive}"></td>
                    </tr>
                </tbody>
            </table>

        </section>   
        
        <section sec:authorize="hasRole('JOURNALIST')">

            <h1 class="text-center my-4 text-capitalize fw-bold">my news</h1>

            <p class="text-end text-capitalize"><a class="button p-2 me-4" th:href="@{/news/register}">create news</a></p>

            <div class="container">
                <div class="row">
                    <div th:each="news : ${journalistOn}" class="col-md-4 pb-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${news.title}"></h5>
                                <p class="card-date" th:text="${news.postDate}"></p>
                                <img th:src="@{/image/news/__${news.id}__}" class="card-img" alt="News">
                                <div class="d-flex justify-content-center">
                                    <a th:if="${session.usersession != null}" th:href="@{/news/see/__${news.id}__}" class="btn btn-primary">See More</a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    
    <footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>