<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en"
>
    <head th:replace="/fragments/head :: head"></head>

<body>
    
    <header th:replace="/fragments/header :: header"></header>

    <main class="content">

        <section>
            
            <h2 class="fw-bold text-center my-4">List of News</h2>

            <p class="text-end mx-3 mb-0"><a class="button p-2" th:href="@{/news/register}">Create news</a></p>
    
            <table class="table container mb-5 overflow-y-auto">
                <thead class="table-info">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Body</th>
                        <th scope="col">Date</th>
                        <th scope="col">Journalist</th>                        
                    </tr>
                </thead>
                <tbody th:each="news : ${news}">
                    <tr>                        
                        <th scope="row" th:text="${news.title}"></th>
                        <td th:text="${news.body}"></td>
                        <td th:text="${news.postDate}"></td>
                        <td th:text="${news.Journalist.name}"></td>
                    </tr>
                </tbody>
            </table>

        </section>

        <section class="h-50">

            <h2 class="fw-bold text-center my-4">List of Journalists</h2>

            <table class="table container mb-5 overflow-y-auto">
                <thead class="table-info">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">State</th>                                               
                    </tr>
                </thead>
                <tbody th:each="Journalist : ${Journalists}">
                    <tr>                        
                        <th scope="row" th:text="${Journalist.name}"></th>
                        <td th:text="${Journalist.lastname}"></td>
                        <td th:text="${Journalist.isActive}"></td>
                    </tr>
                </tbody>
            </table>

        </section>      

    </main>
    
    <footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>