<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en"
>
    <head th:replace="/fragments/head :: head"></head>

<body>
    
    <header th:replace="/fragments/header :: header"></header>

    <main class="content">

        <section>
            
            <h2 class="fw-bold text-center my-4 text-capitalize"> summary list news</h2>
    
            <table class="table container mb-5 overflow-y-auto">
                <thead class="table-info text-capitalize">
                    <tr>
                        <th scope="col">title</th>
                        <th scope="col">body</th>
                        <th scope="col">journalist</th>                        
                    </tr>
                </thead>
                <tbody th:each="news : ${news}">
                    <tr>                        
                        <th scope="row" th:text="${news.title}"></th>
                        <td th:text="${news.body}"></td>
                        <td th:text="${news.Journalist.name}"></td>
                    </tr>
                </tbody>
            </table>

        </section>

        <section class="h-50">

            <h2 class="fw-bold text-center my-4 text-capitalize">summary list journalists</h2>

            <table class="table container mb-5 overflow-y-auto text-center">
                <thead class="table-info text-capitalize">
                    <tr>
                        <th scope="col">name</th>
                        <th scope="col">lastname</th>
                        <th scope="col">high date</th>
                        <th scope="col">state</th>                                               
                    </tr>
                </thead>
                <tbody th:each="journalist : ${Journalists}">
                    <tr>                        
                        <th scope="row" th:text="${journalist.name}"></th>
                        <td th:text="${journalist.lastname}"></td>
                        <td th:text="${journalist.highDate}"></td>
                        <td th:text="${journalist.isActive}"></td>
                    </tr>
                </tbody>
            </table>

        </section>      

    </main>
    
    <footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>