<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en"
>
<head th:replace="/fragments/head :: head"></head>

<body>
    
    <header th:replace="/fragments/header :: header"></header>


    <main class="content">

        <h2 class="text-center fw-bold mt-3">News</h2>   
        
        <div class="container">
            <div class="row">
                <div th:each="news : ${news}" class="col-md-4 pb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${news.title}"></h5>
                            <p class="card-date" th:text="${news.postDate}"></p>
                            <img th:src="@{/image/news/__${news.id}__}" class="card-img" alt="News">
                            <div class="d-flex justify-content-center">
                                <a th:if="${session.usersession != null}" th:href="@{/news/see/__${news.id}__}" class="btn btn-primary">See More</a>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>