<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en"
>

<head th:replace="/fragments/head :: head"></head>

<body>
    
    <header th:replace="/fragments/header :: header"></header>   

    <main class="content">   
        
        <div th:if="${error} != null">
            <p class="error" th:text="${error}"></p>
        </div>   

        <form class="form" th:action="@{/logincheck}" method="POST">
            
            <div class="container">  
                              
                <label class="fw-bold" for="username">Username</label>
                <input class="mb-2" type="text" id="username" name="username" placeholder="Mail / Phone">
                
                <label class="fw-bold" for="password">Password</label>
                <input class="mb-2" type="password" id="password" name="password" placeholder="******">
                
                <input class="button" type="submit" value="Login">

                <p>You do not have an account? <a th:href="@{/user/register}">Register</a></p>
                
            </div>   
                           
        </form>        

    </main>

    <footer th:replace="/fragments/footer :: footer"></footer>

    
</body>
</html>