<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://wwww.thymeleaf.org/extras/spring-security"
    lang="en"
>
<head th:replace="/fragments/head :: head"></head>
<body>

    <header th:replace="/fragments/header :: header"></header>

    <main class="content">

        <form class="form-register" th:action="@{/news/modify/__${news.id}__}" method="post">            

            <input hidden th:value="${id}" name="id">
            
            <label class="fw-bold" for="title">Title</label>
            <input class="mb-1" type="text" name="title" id="title" th:value="${news.title}">
            
            <label class="fw-bold" for="body">Body</label>
            <textarea class="mb-1 w-100 h-75" rows="1" type="text" name="body" id="body" th:utext="${news.body}" ></textarea>

            <label class="fw-bold" for="journalist">Select Journalist</label>
            <select class="mb-2 w-50 text-center ms-auto me-auto" name="idJournalist" id="journalist">
                <option>Select Journalist</option>
                <option 
                th:each="journalist : ${journalists}"
                th:value="${journalist.id}"
                th:text="${journalist.name}"
                />
            </select>
            
            <input class="button me-1" type="submit" value="Modify">            

        </form>

    </main>

    <footer th:replace="/fragments/footer :: footer"></footer>
    
</body>
</html>