<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en"
>
<head th:replace="/fragments/head :: head"></head>

<body>
    
    <header th:replace="/fragments/header :: header"></header>

    <main class="content">

        <section class="container overflow-y-auto">

            
            <h2 class="text-center my-4 fw-bold">List of News</h2>
            
            <div th:if="${success} != null">
                <p th:text="${success}"></p>
            </div>
            
            <table class="table text-center">
                <thead class="table-info ">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Journalist</th>
                        <th scope="col" sec:authorize="hasRole('ADMIN')">actions</th>
                    </tr>
                </thead>
                <tbody th:each="news : ${news}">
                    <tr>
                        <td th:text="${news.title}"></td>
                        <td th:text="${news.postDate}"></td>
                        <td th:text="${news.Journalist.name}"></td>
                        <td sec:authorize="hasRole('ADMIN')">
                            <a class="btn btn-success px-4" th:href="@{/news/modify/__${news.id}__}">Edit</a>
                            <a class="btn btn-danger" th:href="@{/news/delete(id=${news.id})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>    
        </section>
        
    </main>
    
    <footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>